*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bookmarks-hero {
    text-align: center;
    padding: 2em 1em;
    color: #ffe8c7;
    background-color: #ff6f61;
}

.bookmarks-hero h2 {
    font-size: 40px;
    color: #ffe8c7;
    font-family: 'VARUNA', sans-serif;
 }
  #bookmarks-section {
    width: 100%;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
}



#bookmarks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    max-width: 1200px;
}


.recipe-card {
    background-color: #ffe8c7; 
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 200px;  
    padding: 1em;
    text-align: center;
    transition: transform 0.3s ease;
}
.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1em;
}  

.recipe-card h3 {
    color: #ff6f61;
    font-size: 22px;
    margin-bottom: 0.5em;
    font-family: 'VARUNA', sans-serif;
}

.recipe-card h4 {
    color: #ff6f61;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    font-family: 'VARUNA', sans-serif;
}

.recipe-card ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    margin: 0;
}

.recipe-card p {
    text-align: justify;
    font-size: 14px;
    margin-top: 0.5em;
}

#bookmarks-container p {
    text-align: center;
    font-size: 19px;
    color: #333;
    font-family: 'VARUNA', sans-serif;
}
.recipe-card .remove-btn {
    margin-top: 1em;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    background-color: #ff6f61;
    color: #ffe8c7;
    font-family: 'VARUNA', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}
.recipe-card .remove-btn:hover {
    background-color: #ffe8c7;
    color: #ff6f61;
    font-weight: bold;
}
