*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    background-color: #ff6f61;
}
h2{
    font-family: 'VARUNA', sans-serif;
    color: #ffe8c7;
    font-size: 55px;
}
input{
    width: 300px;
    height: 45px;
    gap: 2em;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
.loginbtn{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffe8c7;
    font-family: 'VARUNA', sans-serif;
    font-size: 25px;
    cursor: pointer;
}
.loginbtn:hover{
    background: white;
    color: #ff6f61;
    transition: 0.3s ease;
}
.no-account{
    font-family: 'VARUNA', sans-serif;
    color: #ffe8c7;
    font-size: 33px;
}
.signup{
   font-family: 'VARUNA', sans-serif;
    color: #ffe8c7;
    font-size: 33px;
    text-decoration: none;
}
.signup:hover{
  color: #ff6f61;
  background: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ;
}
.go-back{
    font-family: 'VARUNA', sans-serif;
    color: #ffe8c7;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}
.go-back:hover{
    color: #ff6f61;
    background: white;
    border-radius: 10px;
    transition: 0.3s ;
}
.inputbox{
    border: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#togglePassword{
    top: 15px;
    right: 35px;
    color: white;
    cursor: pointer;
}
