* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  background-color: #ff6f61;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

h2 {
  font-family: 'VARUNA', sans-serif;
  color: #ffe8c7;
  font-size: 55px;
}

input {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

#imagePreview {
  max-width: 400px;
  max-height: 400px;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
  object-fit: cover;
}

.signup {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: none;
  color: #ffe8c7;
  font-family: 'VARUNA', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

.signup:hover {
  background: white;
  color: #ff6f61;
  transition: 0.3s ease;
}

.goto-login {
  font-family: 'VARUNA', sans-serif;
  color: #ffe8c7;
  font-size: 33px;
  text-decoration: none;
}

.login {
  font-family: 'VARUNA', sans-serif;
  color: #ffe8c7;
  font-size: 33px;
  padding: 10px;
  text-decoration: none;
}

.login:hover {
  border-radius: 10px;
  background: white;
  color: #ff6f61;
  transition: 0.3s ease;
}

.go-back {
  font-family: 'VARUNA', sans-serif;
  color: #ffe8c7;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.go-back:hover {
  text-decoration: underline;
  padding: 10px;
  transition: 0.3s ease;
}

#togglePassword {
  top: 15px;
  right: 35px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .signup-body {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .signup-body h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .signup-body form {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .signup-body h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 343px) {
  .signup-body {
    padding: 10px;
  }

  .signup-body h2 {
    font-size: 22px;
  }

  .signup-body input,
  .signup-body .signup-btn {
    font-size: 14px;
    padding: 10px;
  }

  .signup-body .login-container {
    flex-direction: column;
    gap: 2em;
    text-align: center;
  }

  .signup-body .goto-login,
  .signup-body .login-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 257px) {
  .signup-body {
    padding: 5px;
  }

  .signup-body h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .signup-body input {
    padding: 8px 5px;
    font-size: 13px;
    min-width: 0;
  }

  .signup-body .signup-btn {
    padding: 8px;
    font-size: 13px;
  }

  .signup-body #togglePassword {
    right: 5px;
  }

  .signup-body img#imagePreview {
    max-width: 100% !important;
  }
}